body{
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Great Vibes', cursive; */
}
*{
    margin-left: 3px;
}
/* navbar */
.navbar{
    background: navy;
    width: auto;
    opacity: .86;
    box-shadow: 3px 3px 3px black;
}
.nav_links{
    width: auto;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav_links li{
    height: auto;
}
#last{
    padding-right: 50px;
}
.nav_links a{
    height: 100%;
    padding-left: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
}
.nav_links a:hover{
    color: black;
    text-decoration: underline;
    transition: .21s;
    text-shadow: 1px 1px 9px #FFF8E1;
}
.logo{
    margin-right: auto;
}
/* mobile sidebar */
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    width: 250px;
    z-index: 999;
    background-color: #0082e6;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px black;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;   
}
.sidebar a:hover{
    color: aqua;
    /* text-decoration: underline; */
}
.sidebar{
    list-style: none;
}
.sidebar li{
    height: 50px;
}
.sidebar a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu_btn{
    display: none;
}
@media screen and (max-width: 800px){
    .mobile_hide{
        display: none;
    }
    .menu_btn{
        display: block;
    }
}
@media screen and (max-width: 400px){
    .sidebar{
        width: 100%;
    }
    /* .menu_btn{
        display: block;
    }  */
}
/*section styles*/
.section_div{
    padding: 2px;
    margin: 3px;
}
/*Search bar styling*/
.search-bar{
    padding: 5%;
    max-height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    padding: 30px;
}
.search-bar-form{
    width: 100%;
    max-width: 600px;
    height: 40px;
    background: rgba(14, 8, 8, 0.275);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}
.search-bar-form input{
    flex: 1;
    background: transparent;
    outline: none;
    border: 0;
    padding: 13px 25px;
    font-size: 15px;
}
::placeholder{
    color: white;
}
.search-bar-form button{
    border: 0;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}
/*home intro styling*/
.homeintrosec{
    font-size: 23px;
    background-image: url('Images/bg1.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 23px;
    padding-bottom: 23px;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    border-bottom: 3px solid black;
    border-radius: 5px;
    margin-bottom: 13px;   
}
#happy{
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-size: 30px;
}
/*Vegitable section styling*/
.vage-sec{
    font-size: large;
    background-color: #b6b5b5;
    border-bottom: 3px solid black; 
    padding-top: 20px;
    padding-bottom: 10px;  
    border-radius: 5px;
    margin-bottom: 13px;
}
/*Diary section styling*/
.diary-sec{
    font-size: large;
    background-color: #b6b5b5;
    border-bottom: 3px solid black; 
    padding-top: 20px;
    padding-bottom: 10px;  
    border-radius: 5px; 
    margin-bottom: 13px;
}
/*Skin section styling*/
.skin-sec{
    font-size: large;
    background-color: #b6b5b5;
    border-bottom: 3px solid black; 
    padding-top: 20px;
    padding-bottom: 10px;  
    border-radius: 5px; 
    margin-bottom: 13px;
}
/* baking and cooking section styling */
.bnc-sec{
    font-size: large;
    background-color: #b6b5b5;
    border-bottom: 3px solid black; 
    padding-top: 20px;
    padding-bottom: 10px;  
    border-radius: 5px; 
    margin-bottom: 13px;
}

/* meats section styling */
.meats-sec{
    font-size: large;
    background-color: #b6b5b5;
    border-bottom: 3px solid black; 
    padding-top: 20px;
    padding-bottom: 10px;  
    border-radius: 5px; 
    margin-bottom: 13px;
}

/* fruits section styling */
.fruits-sec{
    font-size: large;
    background-color: #b6b5b5;
    border-bottom: 3px solid black; 
    padding-top: 20px;
    padding-bottom: 10px;  
    border-radius: 5px; 
    margin-bottom: 13px;
}

/*Styling the Quick links in the Home page's section*/
.ql-home{
    display: flex;
    justify-content: center;
    font-size: larger;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-top: 5px;
}
.ql-home:hover{
    color: white;
}
.section_div img{
    border-radius: 23px;
}
.thsec-div-mobile{
    display: none;
}
@media screen and (max-width:500px) {
    .thsec-div{
        display: none;
    }
    .thsec-div-mobile{
        display: block;
    }
    /*Quick links mobile view*/
    .ql-home{
        color: white;
    }
}
/*Footer stylings*/
footer{
    color: white;
    font-size: large;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 5px;
    margin-right: 5px;
    background: linear-gradient(to right, #00093c, #2b0b00);
    width: 100%;
}
.footercontainer{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: aqua;
}
footer h3{
    text-decoration: underline;
    margin-bottom: 23px;
}
.followus img{
    background-color: aliceblue;
    border-radius: 10px;
}
/* scroll up */
#scroll{
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    padding: 7px;
    background-color: rgb(110, 110, 110);
    text-decoration: none;
    transition: opacity 0.3s;
    opacity: 0.8;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
}
#scroll:hover{
    background-color: black;
    color: white;
    opacity: 0.8;
}
#scroll img{
    transition: transform 0.5s ease-in-out;   
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#scroll img:hover{
    transform: rotate(360deg);
}