:root{
    --header-height: 3.5rem;
    
    --black-c: hsl(220, 24%, 15%);
    --black-cl: hsl(220, 20%, 18%);
    
    --normal-fs: 0.940rem;
    
    --weight-r: 400;
    --weight-b: 600;
    
    --z: 10;
    --z-fixed: 100;
}